$breakpoints: (
  "sm": "screen and (max-width: 480px)",
  "md": "screen and (max-width: 896px)",
  "lg": "screen and (max-width: 1024px)",
  "xl": "screen and (max-width: 1240px)"
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/* how to use
@include mq(md) {
    css
}
*/
$textColor: #17171b;
$mainColor: #20d8ba;
$subColor: #46465d;